/* ================== GRID & WIDGETS ================== */
.parent-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(16, 70px); 
    gap: 15px;
    max-width: 1500px;
    margin: 0 auto;
}

.div1 { grid-column: 1 / span 2; grid-row: 1 / span 4; }
.div2 { grid-column: 3; grid-row: 1 / span 7; }
.div4 { grid-column: 1; grid-row: 5 / span 3; }
.div3 { grid-column: 2; grid-row: 5 / span 3; }
.div6 { grid-column: span 3; grid-row: 8 / span 3; }
.div5 { grid-column: span 3; grid-row: 11 / span 5; }

.widget-container {
    position: relative;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
    border: 1px solid #e2e8f0;
    transition: all 0.3s ease;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    background: #fff;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}

/* ================== LOADER STYLE ================== */
.iframe-loader {
    position: absolute;
    inset: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    
    /* خلفية شفافة جداً باش الداتا تبان فوراً */
   background: rgb(255, 255, 255);
    
    /* حيد الـ Blur نهائياً حيت هو اللي كيتقل الإزالة */
    backdrop-filter: none; 
    -webkit-backdrop-filter: none;
    
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.logo-client {
    width: 64px; /* صغر اللوغو باش ما يغطيش الأرقام الكبار */
    animation: pulse 1.4s ease-in-out infinite;
    opacity: 0.9; /* حتى اللوغو يكون شفاف شوية */
}

@keyframes pulse {
    0% { transform: scale(0.95); opacity: 0.5; }
    50% { transform: scale(1); opacity: 0.9; }
    100% { transform: scale(0.95); opacity: 0.5; }
}

@media (max-width: 1024px) {
    .parent-grid { display: block; }
    .widget-container { margin-bottom: 15px; height: 350px !important; }
}